.social
{
	height:30px;
	width:100%;
	position:relative;
	background-color:#999;
}
.name_link a
{
	text-decoration: none;
	color: black;
	font-size:20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-style: oblique;
	font-weight: bold;
	color: #777;	
}
.name_link a:hover
{
	color:black;
	text-decoration-line: underline;
}
.rules{
	padding-left:5px;
	width:20%;
	float:left;
	direction:inherit;
	font-family:"Californian FB";
	font-size:18px;
	color:#00C;
}
.about{
	font-family:Arial, Helvetica, sans-serif;
	width:80%;
	height:580px;
	float:right;
	background-color:#F93;
	padding-left:15px;
	text-align:inherit;
}
.aboutus{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#000;
	padding-top:30px;
}
.pm{
	padding-top:30px;
	padding-left:50px;
	
}
.cont{
	border-bottom-style:groove;
	font-family:"Times New Roman", Times, serif;
	width:100%;
	height:800px;
	float:right;
	background-color:#FFF;
}
.scheme{
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	color:#000;
	
}
#footer {
    background:#CCC;
    display: inline-block;
    width: 100%;
	text-align:center;
}

.body4 {
	padding-bottom:2px;
	width:100%;
	background-color:#666;
	height:20%;
	
}
.footer {
	padding-top:2px;
	height:1200px;
	color:#191919;
	padding:45px 30px 20px 30px;
	height:60px;
	font-size:13px
}
footer a {
}
footer a:hover {
}
.call {
	padding-top:13px;
	float:left;
	font-size:32px;
	color:#87a310;
	line-height:1.2em;
	letter-spacing:-1px;
	text-align:center;
	
}
.call span {
	font-size:31px;
	color:#191919
}
.main {
	margin:0 auto;
	width:960px
}