@charset "utf-8";
/* CSS Document */
.top
{
	position:fixed;
	top:55px;
	height:100px;
	width:100%;
	background:#00E1E1;
	z-index:1;
	border:2px solid white;
}
.top2
{
	position:fixed;
	top:0px;
	height:56px;
	width:100%;
	z-index:1;
	background-image: linear-gradient(-90deg, #00F5F5, white);
}
body
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
}

ul
{
	display: flex;
	transform: translate(-50%, -50%);
}
ul li
{
	list-style:none;
}
ul li a
{
	width:45px;
	height:45px;
	background:#fff;
	text-align:center;
	padding-top:4px;
	line-height:45px;
	font-size:28px;
	margin: 0 10px;
	display:block;
	color:#000;
	border-radius:50%;
	position:relative;
	overflow:hidden;
	border: 3px solid #000;
	z-index: 1;
}
ul li a .fa
{
	position:relative;
	color:#262626;
	transition: .5s;
	z-index: 3;
}
ul li a:hover .fa
{
	color:#fff;
	transform: rotateY(360deg);
}
ul li a:before
{
	content: '';
	position:absolute;
	top: 100%;
	left: 0;
	width:100%;
	height:100%;
	background:#f00;
	transition: .5s;
	z-index: 2;
}
ul li a:hover:before
{
	top: 0%;
}
ul li:nth-child(1) a:before
{
	background:#3b5999;
}
ul li:nth-child(2) a:before
{
	background:#55acee;
}
ul li:nth-child(3) a:before
{
	background:#0077b5;
}
ul li:nth-child(4) a:before
{
	background:#e4405f;
}
ul li:nth-child(5) a:before
{
	background:#dd4b39;
}

.topImg
{
	background:white;
	height:93px;
	width:100px;
	position:absolute;
	left:50px;
	top:3px;
}

.one
{
	height:49px;
	width:101px;
	position:absolute;
	left:680px;
	top:17px;
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	color:black;
	padding-top:17px;
	background:#00E1E1;
	border-radius: 25px;
	transition: width 1s, height 1s, transform 1s;
	z-index:6;
	font-size:16px;
}
.two
{
	height:48px;
	width:101px;
	position:absolute;
	left:792px;
	top:17px;
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	padding-top:17px;
	color:black;
	background:#00E1E1;
	border-radius: 25px;
	transition: width 1s, height 1s, transform 1s;
	z-index:4;
	font-size:16px;
}
.three
{
	height:54px;
	width:101px;
	position:absolute;
	left:916px;
	top:17px;
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	padding-top:11px;
	color:black;
	background:#00E1E1;
	border-radius: 25px;
	transition: width 1s, height 1s, transform 1s;
	z-index:3;
	font-size:16px;
}
.four
{
	height:50px;
	width:101px;
	position:absolute;
	left:1035px;
	top:13px;
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	padding-top:17px;
	color:black;
	background:#00E1E1;
	border-radius: 25px;
	transition: width 1s, height 1s, transform 1s;
	z-index:2;
	font-size:16px;
}
.five
{
	height:49px;
	width:101px;
	position:absolute;
	left:1135px;
	top:17px;
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	padding-top:19px;
	background:#00E1E1;
	border-radius: 25px;
	color:black;
	transition: width 1s, height 1s, transform 1s;
	z-index:1;
	font-size:16px;
}
.six
{
	height:49px;
	width:101px;
	position:absolute;
	left:1240px;
	top:17px;
	font-family:"Comic Sans MS", cursive;
	text-align:center;
	padding-top:19px;
	background:#00E1E1;
	border-radius:25px;
	color:black;
	transition: width 1s, height 1s, transform 1s;
	z-index:0;
	font-size:16px;
}
a
{
	text-decoration:none;
}
.one:hover
{
	background-color:white;
	color:#00E1E1;
	width: 150px;
	height: 60px;
	transform: rotate(360deg);
}
.two:hover
{
	background-color:white;
	color:#00E1E1;
	width: 150px;
	height: 60px;
	transform: rotate(360deg);
}
.three:hover
{
	background-color:white;
	color:#00E1E1;
	width: 150px;
	height: 60px;
	transform: rotate(360deg);
}
.four:hover
{
	background-color:white;
	color:#00E1E1;
	width: 150px;
	height: 60px;
	transform: rotate(360deg);
}
.five:hover
{
	background-color:white;
	color:#00E1E1;
	width: 130px;
	height: 60px;
	transform: rotate(360deg);
}
.six:hover
{
	background-color:white;
	color:#00E1E1;
	width: 150px;
	height: 60px;
	transform: rotate(360deg);
}
.icon
{
	width:230px;
	height:47px;
	position:absolute;
	right:25px;
	top:28px;
}
.container
{
	position:absolute;
	top:158px;
	left:100px;
	z-index:0;
}
.bottom
{
	width:100%;
	height:150px;
	position:absolute;
	left:0px;
	top:3200px;
	background-color:#00E1E1;
}
.line
{
	width:100%;
	height:10px;
	position:absolute;
	left:0px;
	top:930px;
	background-color:#00E1E1;
}
.mark
{
	height:450px;
	width:300px;
	position:absolute;
	left:10px;
	top:950px;
	border: 3px solid black;
}
.scheme
{
	height:450px;
	width:1000px;
	position:absolute;
	left:320px;
	top:950px;
}
.scheme2
{
	height:306px;
	width:60%;
	position:absolute;
	left:20px;
	top:1430px;
}
.schm2
{
	height:306px;
	width:95%;
	position:absolute;
	left:20px;
	top:1736px;
}
.schImg
{
	height:300px;
	width:35%;
	position:absolute;
	left:860px;
	top:1436px;
}
.scheme3
{
	height:510px;
	width:61%;
	position:absolute;
	left:500px;
	top:2030px;
}
.schImg2
{
	position:absolute;
	left:60px;
	top:2080px;
}
.bodyDiv
{
	height:3300px;
	width:100%;
	background-image: linear-gradient(-90deg, #00F5F5, white);
}
.feedback
{
	position:absolute;
	top:2750px;
	left:120px;
	height:400px;
	width:80%;
}
.button
{
  background-color: #00E1E1;
  color: white;
  border: 2px solid #00E1E1;
  padding: 20px 40px;
}

.button:hover
{
  background-color: white;
  color: #00E1E1;
}
.about
{
	width:40%;
	height:100px;
	position:absolute;
	left:100px;
	top:3210px;
}
.contact
{
	width:40%;
	height:100px;
	position:absolute;
	left:700px;
	top:3210px;
}
.tbl
{
	width:70%;
	height:445px;
	position:absolute;
	left:230px;
	top:200px;
}
.app
{
	background-color: white;
	color: black;
	border: 2px solid black;
	padding: 8px 50px;
	font-family: 'Quicksand';
}
.app:hover
{
	background-color: black;
	color: white;
	border: 2px solid white;
}
button.acc
{
	cursor:pointer;
	width:100%;
	border:none;
	outline:none;
	text-align:left;
	background-color:transparent;
	color:black;
	padding:8px;
	margin: 4px 0;
	border-radius: 5px;
	transition:0.3s;
	font-family: 'Quicksand';
	font-size: 18px;
}
button.acc:hover
{
	background-color:rgb(51, 204, 255, 0.5);
}
div.panel
{
	background-color:rgb(51, 204, 255, 0.3);
	color:black;
	border-radius:5px;
	overflow:hidden;
	display:none;
	transition:0.3s;
	padding:0 8px;
	font-family: 'Quicksand';
}